
.icon-toggle {
    background: url('../assets/Resource/img/icon_collection.svg') no-repeat 0px -337px;
	width: 24px;
	height: 24px;
}

.icon-change {
    background: url('../assets/Resource/img/icon_collection.svg') no-repeat 0 -272px;
	width: 16px;
	height: 16px;
}

.icon-facebook {
    background: url('../assets/Resource/img/icon_collection.svg') no-repeat -288px -319px;
    width: 16px;
    height: 18px;
}

.icon-box {
    background: url('../assets/Resource/img/icon_collection.svg') no-repeat -243px -411px;
    width: 19px;
    height: 20px;
}

.icon-calender {
	background: url('../assets/Resource/img/icon_collection.svg') no-repeat -123px -339px;
    width: 18px;
    height: 20px;
}

.icon-noti {
    background: url('../assets/Resource/img/icon_collection.svg') no-repeat -75px -339px;
    width: 18px;
    height: 20px;
}

.icon-setting {
    background: url('../assets/Resource/img/icon_collection.svg') no-repeat -98px -339px;
    width: 20px;
    height: 20px;
}

.icon-help {
    background: url('../assets/Resource/img/icon_collection.svg') no-repeat -218px -363px;
    width: 20px;
    height: 20px;
}

.icon-avatar {
    background: url('../assets/Resource/img/icon_collection.svg') no-repeat -144px -385px;
    width: 24px;
    height: 24px;
}

.icon-dashboard {
    background: url('../assets/Resource/img/icon_collection.svg') no-repeat 0 -272px;
    width: 16px;
    height: 16px;
}

.icon-potential {
    background: url('../assets/Resource/img/icon_collection.svg')no-repeat -160px -289px;
    width: 16px;
    height: 16px;
}

.icon-offer {
    background: url('../assets/Resource/img/icon_collection.svg') no-repeat -16px -272px;
    width: 16px;
    height: 16px;
}

.icon-contact {
    background: url('../assets/Resource/img/icon_collection.svg') no-repeat -129px -48px;
    width: 14px;
    height: 16px;
}

.icon-client {
    background: url('../assets/Resource/img/icon_collection.svg') no-repeat -112px -48px;
    width: 16px;
    height: 16px;
}

.icon-opportunity {
    background: url('../assets/Resource/img/icon_collection.svg') no-repeat -80px -48px;
    width: 16px;
    height: 16px;
}

.icon-quote {
    background: url('../assets/Resource/img/icon_collection.svg') no-repeat -66px -48px;
    width: 12px;
    height: 16px;
}

.icon-order {
    background: url('../assets/Resource/img/icon_collection.svg') no-repeat -144px -48px;
    width: 16px;
    height: 16px;
}

.icon-bill {
    background: url('../assets/Resource/img/icon_collection.svg') no-repeat -50px -48px;
    width: 12px;
    height: 16px;
}

.icon-pond {
    background: url('../assets/Resource/img/icon_collection.svg') no-repeat -66px -305px;
    width: 12px;
    height: 15px;
}

.icon-work {
    background: url('../assets/Resource/img/icon_collection.svg') no-repeat -129px -272px;
    width: 15px;
    height: 15px;
}

.icon-target {
    background: url('../assets/Resource/img/icon_collection.svg') no-repeat -81px -273px;
    width: 15px;
    height: 15px;
}

.icon-campaign {
    background: url('../assets/Resource/img/icon_collection.svg') no-repeat -208px -48px;
    width: 16px;
    height: 16px;
}

.icon-report {
    background: url('../assets/Resource/img/icon_collection.svg') no-repeat -32px -272px;
    width: 16px;
    height: 16px;
}

.icon-other {
    background: url('../assets/Resource/img/icon_collection.svg') repeat -48px -272px;
    width: 16px;
    height: 16px;
}

.icon-dropdown {
	background: url('../assets/Resource/img/icon_collection.svg') no-repeat -52px -32px;
	width: 16px;
	height: 16px;
}

.icon-refresh {
	margin-left: 10px;
    background: url('../assets/Resource/img/icon_collection.svg') no-repeat -351px -32px;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.icon-plus {
    background: url('../assets/Resource/img/icon_collection.svg') no-repeat -242px -128px;
    width: 16px;
    height: 16px;
	background-color: #405eec;
	margin-top: 8px;
	margin-left: 10px;
}

.icon-down {
	background: url(../assets/Resource/img/icon_collection.svg) no-repeat -80px -160px;
    width: 16px;
    height: 16px;
}

.icon-future {
	background: url('../assets/Resource/img/icon_collection.svg') no-repeat -49px -6px;
    width: 14px;
    height: 4px;
}

.icon-threecol {
    background: url('../assets/Resource/img/icon_collection.svg') no-repeat -270px -160px;
    width: 15px;
    height: 16px;
}
.icon-up {
    background: url('../assets/Resource/img/icon_collection.svg') no-repeat -36px -38px;
	width: 9px;
	height: 5px;
}

.icon-search {
    background: url('../assets/Resource/img/icon_collection.svg') no-repeat -32px 0;
    width: 17px;
    height: 17px;
}
.icon-pre1 {
    background: url('../assets/Resource/img/icon_collection.svg') no-repeat -293px -34px;
    width: 7px;
    height: 13px;
}

.icon-pre2 {
    background: url('../assets/Resource/img/icon_collection.svg') no-repeat -115px -226px;
    width: 9px;
    height: 13px;
}

.icon-next1 {
    background: url('../assets/Resource/img/icon_collection.svg') no-repeat -308px -34px;
    width: 7px;
    height: 13px;
}

.icon-next2 {
    background: url('../assets/Resource/img/icon_collection.svg') no-repeat -132px -226px;
    width: 9px;
    height: 13px;
}

.icon-call {
    background: url('../assets/Resource/img/icon_collection.svg') no-repeat -177px -322px;
	width: 15px;
	height: 15px;
}

.icon-date {
    background: url('../assets/Resource/img/icon_collection.svg') no-repeat -194px -321px;
	width: 12px;
	height: 16px;
}

.icon-birth {
    background: url('../assets/Resource/img/icon_collection.svg') no-repeat -209px -321px;
	width: 14px;
	height: 16px;
}

.icon-email {
    background: url('../assets/Resource/img/icon_collection.svg') no-repeat 0 -324px;
	width: 16px;
	height: 11px;
}

.icon-notebook {
    background: url('../assets/Resource/img/icon_collection.svg') no-repeat -272px -112px;
    width: 16px;
	height: 16px;
    margin: 6px;
}

.icon-close {
    background: url('../assets/Resource/img/icon_collection.svg') no-repeat -84px -20px;
	width: 8px;
	height: 8px;
}

.icon-infomation {
    background: url('../assets/Resource/img/icon_collection.svg') no-repeat -368px -144px;
	width: 16px;
	height: 16px;
}

.icon-warning {
    background: url('../assets/Resource/img/icon_collection.svg') no-repeat -368px -128px;
	width: 16px;
	height: 16px;
}

.icon-accept {
    background: url('../assets/Resource/img/icon_collection.svg') no-repeat -384px -144px;
	width: 16px;
	height: 16px;
}

.icon-error {
    background: url('../assets/Resource/img/icon_collection.svg') no-repeat -384px -128px;
	width: 16px;
	height: 16px;
}
.icon-close {
    background: url('../assets/Resource/img/icon_collection.svg') no-repeat -323px -476px;
    width: 10px;
    height: 10px;
}

.icon-collapse-left{
    background: url('../assets/Resource/img/icon_collection.svg') no-repeat -18px -36px;
    width: 12px;
    height: 9px;
    float: right;
}

.icon-collapse-right {
    background: url('../assets/Resource/img/icon_collection.svg') no-repeat -2px -36px;
    width: 12px;
    height: 9px;
    float: left;
}

.iconaddwhite{
    background: url('../assets/Resource/img/icon_collection.svg') no-repeat -242px -130px;
	width: 13px;
	height: 13px;
}

.icon-telephone {
    background: url('../assets/Resource/img/icon_collection.svg') no-repeat -320px -48px;
	width: 16px;
	height: 16px;
    margin-right: 8px;
}

.icon-facebook24 {
    background: url('../assets/Resource/img/icon_facebook_24_blue.svg') no-repeat 0 0;
	width: 24px;
	height: 24px;
}

.icon-sortsetting {
    background: url('../assets/Resource/img/icon_collection.svg') no-repeat -272px -176px;
	width: 16px;
	height: 16px;
}

.icon-pen {
    background: url('../assets/Resource/img/icon_collection.svg') no-repeat -129px -1px;
	width: 14px;
	height: 14px;
    cursor: pointer;
}

.icon-filter {
    background: url('../assets/Resource/img/icon_collection.svg') no-repeat -144px 0;
	width: 16px;
	height: 16px;
}

.icon-hozizotal {
    background: url(https://crmplatform.misacdn.net/appnew/assets/Images/icon/icon_collection.svg) no-repeat -96px -433px;
	width: 24px;
	height: 24px;
}